<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Identicon 과제</title>
</head>
<body>
  <div id="app">
    <h1>Identicon 생성기</h1>
    <div>
      크기선택: 
      <select v-model="size">
        <option value="80">소</option>
        <option value="150">중</option>
        <option value="300">대</option>
      </select>
    </p>
    <p>input: <input @input="reload" v-model="newInput" type="text"></p>
    <!-- <p>output: 
      <svg :width="size" :height="size" :data-jdenticon-value="newInput"></svg>
    </p> -->

    <div>
      jdenticon method를 활용한 svg 생성:
      <div v-html="identicon()">
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/jdenticon@2.2.0" async></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script>
    // Vue js 객체(instance) 생성
    new Vue({
      el: '#app',
      data: {
        test: '<h1>hello</h1>',
        newInput: '',
        size: '80',
      },
      computed: {

      },
      methods: {
        reload() {
          jdenticon()
        },
        identicon() {
          return jdenticon.toSvg(this.newInput, this.size)
        }
      }
    })
  </script>

</body>
</html>