<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .completed {
      text-decoration: line-through;
    }
  </style>
</head>
<body>
  <div id="app">
    <h1>Todo List</h1>
    <select v-model="status">
      <option value="showAll">모두보기</option>
      <option value="showCompleted">완료된 것만 보기</option>
      <option value="showIncomplete">미완료된 것만 보기</option>
    </select>
    <input v-on:keypress.enter="createTodo" v-model="newInput" type="text">
    <button v-on:click="createTodo">추가</button>
    <ul>
      <li v-bind:class="{completed: todo.isCompleted}" v-for="todo in todosByStatus()">
        <input v-model="todo.isCompleted" type="checkbox">
        {{ todo.content }}
      </li>
    </ul>
    <button v-on:click="clearCompleted">완료된 할일 지우기</button>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        name: 'john',
        status: 'showAll', // showCompleted, showIncomplete
        newInput: '',
        todos: [
          {content: 'Vue JS 복습', isCompleted: false},
          {content: 'JS 복습', isCompleted: true}, 
          {content: '코딩 테스트 준비', isCompleted: false}, 
          {content: 'Node JS 복습', isCompleted: false}
        ]
      },
      methods: {
        createTodo() {
          // 입력값이 있을 때만,
          if (this.newInput) {
            this.todos.push({content: this.newInput, isCompleted: false})
            this.newInput = ''
          } else {
            alert('뭐 쓰고 말해')
          }
        },
        clearCompleted() {
          // forEach, map, reduce, some, ...
          // 배열을 한번씩 순회하며, 무언가를 하는 거
          // 무언가 => 함수(콜백)
          this.todos = this.todos.filter(todo => !todo.isCompleted)
        },
        todosByStatus() {
          // status = 'showCompleted'
          if (this.status === 'showCompleted') {
            return this.todos.filter(todo => todo.isCompleted)
          }
          // status = 'showIncomplete'
          if (this.status === 'showIncomplete') {
            return this.todos.filter(todo => !todo.isCompleted)
          }
          // status = 'showAll'
          return this.todos
        }
      }
    })
  </script>
</body>
</html>